.additional-item {

}

.additional-item__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.additional-item__characteristics {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $special-dark-grey;

}

.additional-item__key {

}

.additional-item__value {
  margin: 0;
}

.additional-item__button {

}
