@use "../base/variables" as *;

.button {
  padding: 10px 20px;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary-color;
  border: none;
  outline: none;

  @media (min-width: $tablet-min-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    background: $button-hover-color;
    cursor: pointer;
  }

  &:active {
    color: rgba($secondary-color, 0.3);
  }

  &:focus {
    outline: 2px solid $button-focus-color;
  }

  &--second {
    background: $secondary-bg-color;
    color: $primary-text-color;

    &:hover {
      background: $grey-lighter;
    }

    &:active {
      color: rgba($primary-text-color, 0.3);
    }

    &:focus {
      outline: 2px solid $grey-medium;
    }
  }
}
