.card-product {

}

.card-product__image {

}

.card-product__container {

}

.card-product__title {
  margin: 10px 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $special-dark-grey-2;

}

.card-product__characteristics {
  margin: 10px 0;
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey;
}

.card-product__key {

}

.card-product__value {
  margin: 0;
}

.card-product__description {
  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special-dark-grey;
}

.card-product__button {
  width: 100%;
  box-sizing: border-box;
}
