.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}

.catalog__wrapper {
  width: 100%;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding: 20px;
  border-top: 1px solid $special-grey-2;

  &:last-child {
    border-bottom: 1px solid $special-grey-2;
  }
}
