.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;

  &--second {
    background: $basic-grey;
  }
}

.contacts__wrapper {

}

.contacts__address {
  padding: 5px 20px;
}

.contacts__title{
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $black;
  text-transform: uppercase;
}

.contacts__text{
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $special-dark-grey;
}
