@use "../base/variables" as *;
@use "../base/mixins" as *;

.field-checkbox {
  display: flex;
}

.field-checkbox__input {
  @include visually-hidden();

  &:checked ~ .field-checkbox__label::before {
    background: url("../img/icons/tick.svg") no-repeat center;
    background-size: 21px auto;
    background-clip: content-box;
  }

  &:focus ~ .field-checkbox__label::before {
    outline: 1px solid $primary-text-color;
  }

  &:not(:disabled) ~ .field-checkbox__label:hover::before {
    border-color: $grey-medium;
  }

  &:disabled ~ .field-checkbox__label {
    opacity: 0.3;
  }

  &:disabled ~ .field-checkbox__label:hover {
    cursor: default;
  }
}

.field-checkbox__label {
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;

  @media (min-width: $tablet-min-width) {
    gap: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $main-border-color;

    @media (min-width: $tablet-min-width) {
      width: 40px;
      height: 40px;
    }
  }
}
