@use "../base/variables" as *;
@use "../base/mixins" as *;

.field-radio {
  display: flex;
}

.field-radio__input {
  @include visually-hidden();

  &:checked ~ .field-radio__label::before {
    background-color: $primary-color;
    background-clip: content-box;
  }

  &:focus ~ .field-radio__label::before {
    outline: 1px solid $primary-text-color;
  }

  &:not(:disabled) ~ .field-radio__label:hover::before {
    border-color: $grey-medium;
  }

  &:disabled ~ .field-radio__label {
    opacity: 0.3;
  }

  &:disabled ~ .field-radio__label:hover {
    cursor: default;
  }
}

.field-radio__label {
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;

  @media (min-width: $tablet-min-width) {
    gap: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    border: 1px solid $main-border-color;
    border-radius: 50%;

    @media (min-width: $tablet-min-width) {
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
}
