@use "../base/variables" as *;

.field-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 13px;
}

.field-text__input-wrapper {
  position: relative;
}

.field-text__input-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  width: 20px;
  height: 20px;
  stroke: $secondary-text-color;
  fill: none;
}

.field-text__input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $primary-text-color;
  text-transform: uppercase;
  border: 1px solid $primary-border-input;

  @media (min-width: $tablet-min-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    border-color: $main-border-color;
  }

  &:focus {
    border-color: $primary-text-color;
    outline: none;
  }

  &:invalid {
    border-color: $status-error;
  }

  &:focus ~ .field-text__input-logo {
    stroke: $primary-color;
  }

  &:invalid ~ .field-text__input-logo {
    stroke: $status-error;
  }

  &::placeholder {
    font-family: $secondary-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $primary-text-color;
    opacity: 0.7;

    @media (min-width: $tablet-min-width) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &--with-icon {
    padding-right: 40px;
    border: 1px solid $main-border-color;
  }
}

.field-text__label {
  align-self: center;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $primary-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: normal;
  }
}
