@use "../base/variables" as *;

.field-text {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 13px;
}

.field-text__input-wrapper {
  position: relative;
}

.field-text__input {
  width: 100%;
  padding: 10px 15px 9px;

  @media (min-width: $tablet-min-width) {
    min-width: 250px;
    padding: 11px 20px;
  }

  &--with-icon {
    border: 1px solid $main-border-color;
    padding-right: 40px;
  }

  &:focus + .field-text__icon {
    background-color: $primary-color;
  }

  &:invalid + .field-text__icon {
    background-color: $status-error;
  }
}

.field-text__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: $secondary-text-color;

  @media (min-width: $tablet-min-width) {
    right: 14px;
  }

  &--email {
    mask-image: url("../img/sprite.svg#email");
  }

  &--phone {
    mask-image: url("../img/sprite.svg#phone");
  }
}
