@use "../base/variables" as *;
@use "../base/mixins" as *;

.field-checkbox {
  display: flex;
}

.field-checkbox__input {
  @include visually-hidden();
}

.field-checkbox__label {
  position: relative;
  padding: 6px 0 6px 46px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text-color;
  user-select: none;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    padding: 6px 0 6px 60px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    left: 0;
    width: 30px;
    height: 30px;
    padding: 6px 3px 6px 4px;
    border: 1px solid $main-border-color;

    @media (min-width: $tablet-min-width) {
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      padding: 11px 8px 11px 9px;
    }
  }
}

.field-checkbox__input:checked ~ .field-checkbox__label::before {
  background: url("../img/icons/tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

.field-checkbox__input:focus ~ .field-checkbox__label::before {
  outline: 1px solid $primary-text-color;
}

.field-checkbox__input:not(:disabled) ~ .field-checkbox__label:hover::before {
  border-color: $grey-medium;
}

.field-checkbox__input:disabled ~ .field-checkbox__label {
  opacity: 0.3;
}

.field-checkbox__input:disabled ~ .field-checkbox__label:hover {
  cursor: default;
}
