.footer {
  background: $grey-background-2;
}

.footer__wrapper {

}

.footer__logo-text {
  border-bottom: 1px solid $grey-line;
}

.footer__logo-text-link {

}

.footer__logo-text-image {

}

.footer__social {
  border-bottom: 1px solid $grey-line;
}

.footer__html-academy {

}
