.html-academy {

}

.html-academy__link {
  text-decoration: none;

  &:active > .html-academy__text {
    opacity: 0.3;
  }
}

.html-academy__text {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $special-dark-grey;
}

.html-academy__image {

}
