@use "../base/variables" as *;

.text-input {
  font-family: $secondary-font-family;
  font-size: 16px;
  color: $primary-text-color;
  text-transform: uppercase;
  border: 1px solid $primary-border-input;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: $main-border-color;
  }

  &:focus {
    outline: 2px solid $primary-text-color;
  }

  &:invalid {
    outline: 2px solid $status-error;
  }

  &::placeholder {
    font-family: $secondary-font-family;
    font-size: 16px;
    text-transform: uppercase;
    color: $primary-text-color;
    opacity: 0.7;

    @media (min-width: $tablet-min-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
