@use "../base/variables" as *;

.main {
  display: grid;
}

.main__top-section {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 82px;
  }
}

.main__programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 71px;
  }
}

.main__how-works {
  margin-bottom: 49px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 101px;
  }
}

.main__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 77px;
  }
}

.main__additional-goods {
  margin-bottom: 35px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 86px;
  }
}

.main__program-choice {
  margin-bottom: 32px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 79px;
  }
}
