@use "../base/variables" as *;

.main__top-section {
  position: relative;
  margin-bottom: 20px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 0;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 82px;
  }
}

.main__programs {
  margin-bottom: 20px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 45px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 71px;
  }
}

.main__how-works {
  margin-bottom: 49px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 0;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 49px;
  }
}

.main__catalog {
  margin-bottom: 25px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 70px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 76px;
  }
}

.main__additional-goods {
  margin-bottom: 35px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 75px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 87px;
  }
}

.main__program-choice {
  margin-bottom: 32px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 60px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 80px;
  }
}
