@use "../base/variables" as *;

.main__title {
  margin: 27px 0 41px;
  padding: 0 20px;
  text-align: left;

  @media (min-width: $tablet-min-width) {
    margin: 65px 0 84px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0 110px;
  }
}

.main__top-section {
  position: relative;
  margin: 0 0 20px;

  @media (min-width: $tablet-min-width) {
    margin: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 50px;
  }
}

.main__programs {
  margin: 0 0 20px;

  @media (min-width: $tablet-min-width) {
    margin: 0 0 45px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 71px;
  }
}

.main__how-works {
  margin: 0 0 49px;

  @media (min-width: $tablet-min-width) {
    margin: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 72px;
  }
}

.main__catalog {
  @media (min-width: $tablet-min-width) {
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 76px;
  }
}

.main__additional-goods {
  margin: 0 0 20px;

  @media (min-width: $tablet-min-width) {
    margin: 0 0 75px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 87px;
  }
}

.main__program-choice {
  margin: 0 0 20px;
}
