.nav {

}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {

  border-top: 1px solid $nav-border;

  &:last-child {
    border-bottom: 1px solid $nav-border;
  }
}

.nav__link {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link-text {
  padding: 5px 0;
  &--current {
    border-bottom: 2px solid $basic-green;
  }
}
