.program-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}

.program-choice__wrapper {

}

.program-choice__text {
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $black;
}

.program-choice__form {

}
