.programs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  padding: 0 20px;
}

.programs__wrapper {

}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {

}


