@use "../base/variables" as *;

.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: center;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 280px);
  }
}

.slider__item {
  position: relative;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-min-width) {
    height: 512px;
  }
}

.slider__image {
  position: absolute;

  @media (min-width: $tablet-min-width) {
    width: 560px;
    height: 512px;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider__control {
  position: absolute;
  left: calc(50% - 20px);
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 40px 1fr;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 256px;

  @media (min-width: $tablet-min-width) {
    height: 512px;
  }
}

.slider__control-line {
  justify-self: center;
  content: "";
  width: 0;
  height: 100%;
  border: 2px solid $slide-bar-color;

  &--top {
    grid-row: 1;
    border-radius: 2px 2px 0 0;
  }

  &--bottom {
    border-radius: 0 0 2px 2px;
  }
}

.slider__control-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  border: 2px solid $slide-bar-color;
  border-radius: 50%;
  outline: none;
  background: $secondary-color;

  &:hover {
    cursor: pointer;
    border-color: $primary-color;
  }

  &:active {
    border-color: $button-hover-color;
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $primary-text-color;
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  &::before {
    border-right: 10px solid $slide-bar-color;
  }

  &::after {
    border-left: 10px solid $slide-bar-color;
  }

  &:hover ~ .slider__control-line {
    border-color: $primary-color;
  }

  &:active ~ .slider__control-line {
    border-color: $button-hover-color;
    opacity: 0.6;
  }

  &:hover::before {
    border-right-color: $primary-color;
  }

  &:hover::after {
    border-left-color: $primary-color;
  }

  &:active::before {
    border-right-color: $button-hover-color;
    opacity: 0.6;
  }

  &:active::after {
    border-left-color: $button-hover-color;
    opacity: 0.6;
  }
}
