@use "../base/variables" as *;


.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);

  @media (width >= $tablet-min-width) {
    grid-template-columns: repeat(2, 280px);
  }
}

.slider__item {
  position: relative;
  height: 256px;
  overflow: hidden;

  @media (width >= $tablet-min-width) {
    height: 512px;
  }
}

.slider__image {
  position: absolute;

  @media (width >= $tablet-min-width) {
    width: 560px;
    height: 512px;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider__control {
  position: absolute;
  left: calc(50% - 20px);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 256px;

  &:hover {
    border-color: $primary-color;
  }

  &:active {
    border-color: $button-hover-color;
  }

  @media (width >= $tablet-min-width) {
    height: 512px;
  }
}

.slider__control-line {
  width: 0;
  height: 100%;
  border: 2px solid $slide-bar-color;
  border-radius: 2px;
}

.slider__control-circle {
  position: absolute;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 38px;
  height: 38px;
  border: 2px solid $slide-bar-color;
  border-radius: 50%;
  background: $secondary-color;

  &:hover {
    cursor: pointer;
    border-color: $primary-color;
  }

  &:active {
    border-color: $button-hover-color;
  }
}

.slider__control-arrow {
  width: 0;
  height: 0;

  &--left {
    border-top: 10px solid transparent;
    border-right: 10px solid $slide-bar-color;
    border-bottom: 10px solid transparent;
  }

  &--right {
    border-top: 10px solid transparent;
    border-left: 10px solid $slide-bar-color;
    border-bottom: 10px solid transparent;
  }
}

.slider__control-circle:hover + .slider__control-line {
  border-color: $primary-color;
}

.slider__control-circle:active + .slider__control-line {
  border-color: $button-hover-color;
}

.slider__control-circle:hover > .slider__control-arrow--left {
  border-right-color: $primary-color;
}

.slider__control-circle:hover > .slider__control-arrow--right {
  border-left-color: $primary-color;
}

.slider__control-circle:active > .slider__control-arrow--left {
  border-right-color: $button-hover-color;
}

.slider__control-circle:active > .slider__control-arrow--right {
  border-left-color: $button-hover-color;
}
