.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-image: linear-gradient(to bottom,  rgba($basic-green, 0.85) 302px,  transparent 302px), url("../img/slider-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.top-section__wrapper {

}

.top-section__program{

}

.top-section__title{
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.top-section__subtitle {
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

}
