@use "../base/variables" as *;

.additional-goods {
  position: relative;
}

.additional-goods__inner {
  width: 100%;

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    align-items: center;
    gap: 0 81px;
  }
}

.additional-goods__title {
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 80px;
    grid-column: span 2;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 79px;
  }
}

.additional-goods__list {
  display: grid;
  align-items: stretch;
  margin: 0 0 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 0;
  }
}

.additional-goods__item:not(:last-child) {
  margin-bottom: -1px;
}
