@use "../base/variables" as *;

.additional-goods {
  position: relative;
}

.additional-goods__inner {
  width: 100%;

  @media (width >= $desktop-min-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 0 81px;
  }
}

.additional-goods__title {
  margin-top: 0;
  margin-bottom: 36px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 80px;
    grid-column: span 2;
  }
}

.additional-goods__list {
  display: grid;
  align-items: stretch;
  margin: 0 0 35px;
  padding: 0;
  list-style: none;

  @media (width >= $tablet-min-width) {
    margin-bottom: 70px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 0;
  }
}

.additional-goods__item:not(:last-child) {
  margin-bottom: -1px;
}

.additional-goods__prize {
  @media (width >= $desktop-min-width) {
    align-self: stretch;
  }
}
