@use "../base/variables" as *;

.additional-item {
  padding: 20px 0;
  display: grid;
  justify-content: stretch;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr auto;
  }
}

.additional-item__title {
  margin: 0 0 10px;
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $grey-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    margin: 0;
  }
}

.additional-item__characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  font-family: $secondary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $secondary-text-color;
}

.additional-item__value {
  justify-self: end;
  margin: 0;
}

.additional-item__button {
  @media (min-width: $tablet-min-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 4;
  }
}

.additional-goods__prize {
  @media (min-width: $desktop-min-width) {
    align-self: stretch;
  }
}
