@use "../base/variables" as *;

.additional-goods {
  position: relative;
}

.additional-goods__inner {
  width: 100%;

  @media (width >= $desktop-min-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 0 81px;
  }
}

.additional-goods__title {
  margin-top: 0;
  margin-bottom: 36px;

  @media (width >= $tablet-min-width) {
    margin-bottom: 80px;
    grid-column: span 2;
  }
}

.additional-goods__list {
  display: grid;
  align-items: stretch;
  margin: 0 0 35px;
  padding: 0;
  list-style: none;

  @media (width >= $tablet-min-width) {
    margin-bottom: 70px;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 0;
  }
}

.additional-goods__item:not(:last-child) {
  margin-bottom: -1px;
}

.additional-goods__present-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px;
  padding: 58px 61px 43px 58px;
  background-image: $primary-linear-gradient,
    image-set(
      url("../img/content/present-mobile.jpg") type("image/jpg") 1dppx,
      url("../img/content/present-mobile-2x.jpg") type("image/jpg") 2dppx
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width >= $tablet-min-width) {
    grid-template-columns: repeat(2, auto);
    gap: 264px;
    padding: 57px 125px 60px 77px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/present-tablet.jpg") type("image/jpg") 1dppx,
        url("../img/content/present-tablet-2x.jpg") type("image/jpg") 2dppx
    );
  }

  @media (width >= $desktop-min-width) {
    align-self: stretch;
    grid-template-columns: 1fr;
    gap: 46px;
    padding: 56px 42px 43px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/present-desktop.jpg") type("image/jpg") 1dppx,
        url("../img/content/present-desktop-2x.jpg") type("image/jpg") 2dppx
    );
  }
}

.additional-goods__present-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $secondary-color;
}
