@use "../base/variables" as *;

.card-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px 20px 25px;
  border-top: 1px solid $grey-lighter;

  @media (width >= $tablet-min-width) {
    align-self: stretch;
    grid-template-columns: 1fr;
    align-content: end;
    padding: 0 37px 40px;
    background-image: linear-gradient(to top, $secondary-bg-color 430px, transparent 430px);
    border: 0;
  }

  &:last-child {
    border-bottom: 1px solid $grey-lighter;
  }

  &--show-all {
    grid-template-columns: 1fr;
    justify-items: center;

    @media (width >= $tablet-min-width) {
      height: 430px;
      align-self: end;
      background: $primary-bg-color;
      border: 1px solid $secondary-bg-color;
    }

    @media (width >= $desktop-min-width) {
      max-width: 430px;
    }
  }
}

.card-product__image-wrapper {
  justify-self: center;
}

.card-product__image {
  @media (width >= $tablet-min-width) {
    width: 100%;
    height: auto;
  }
}

.card-product__about {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.card-product__title {
  margin: 10px 0;
  padding-right: 25px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $grey-dark;
  text-transform: uppercase;
  text-align: left;

  @media (width >= $tablet-min-width) {
    margin: 40px 0 20px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (width >= $desktop-min-width) {
    padding: 0 40px;
  }

  &--show-all {
    margin: 0 0 8px;
    padding-right: 0;
    text-align: center;

    @media (width >= $tablet-min-width) {
      margin-bottom: 23px;
      padding: 0;
    }

    @media (width >= $desktop-min-width) {
      margin-bottom: 26px;
      padding: 0;
    }
  }
}

.card-product__characteristics {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;

  @media (width >= $tablet-min-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-product__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (width >= $tablet-min-width) {
    padding: 5px 0;
    border-bottom: 1px solid $main-border-color;
  }
}

.card-product__value {
  justify-self: center;
  margin: 0;

  @media (width >= $tablet-min-width) {
    justify-self: end;
  }
}

.programs-item__button-all {
  padding: 0;
  border: none;
  outline: none;
  margin-bottom: 23px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../img/icons/show-all-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= $tablet-min-width) {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/show-all-tablet.svg");
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 40px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-product__description {
  margin: 0 0 21px;
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-text-color;

  @media (width >= $tablet-min-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }
}

.card-product__button {
  grid-column: span 2;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (width >= $tablet-min-width) {
    grid-column: 1;
    margin: 32px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }

  &--show-all {
    grid-column: 1;
    margin: 0;
  }
}
