@use "../base/variables" as *;

.card-product {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 21px 20px 24px;
  border-top: 1px solid $grey-lighter;

  @media (min-width: $tablet-min-width) {
    align-self: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-content: end;
    padding: 0 37px 40px;
    background-image: linear-gradient(to bottom, transparent 81px, $secondary-bg-color 81px);
    border: 0;
  }

  &--show-all {
    grid-template-columns: 1fr;
    justify-items: center;
    border-bottom: 1px solid $grey-lighter;

    @media (min-width: $tablet-min-width) {
      margin-top: 81px;
      border: 1px solid $secondary-bg-color;
      background: transparent;
    }
  }
}

.card-product__image-wrapper {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  @media (min-width: $tablet-min-width) {
    grid-row: 1;
    margin: 10px 0 22px;
    height: 210px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 10px 0 12px;
  }

  &--show-all {
    grid-row: 1;
    align-items: flex-end;
    margin: 3px 0 24px;
    height: auto;

    @media (min-width: $tablet-min-width) {
      margin: -99px 0 50px;
      height: 210px;
    }

    @media (min-width: $desktop-min-width) {
      margin: -60px 0 0;
    }
  }
}

.card-product__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card-product__icon {
  position: relative;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  overflow: hidden;

  @media (min-width: $tablet-min-width) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    mask-image: url("../img/sprite.svg#show-all");
    background-color: $grey-middle;
  }
}

.card-product__title {
  margin: 0 0 16px;
  padding-right: 42px;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $grey-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 14px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0 6px;
    margin-bottom: 20px;
  }

  &--show-all {
    margin-bottom: 9px;
    padding-right: 0;
    text-align: center;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 23px;
      padding: 0 35px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 26px;
      padding: 0;
    }
  }
}

.card-product__characteristics {
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $primary-text-color;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-product__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-min-width) {
    padding: 5px 0 6px;
    border-bottom: 1px solid $main-border-color;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 1px;
  }
}

.card-product__value {
  text-align: right;
  margin: 0;
}

.card-product__description {
  align-self: start;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $primary-text-color;

  @media (min-width: $tablet-min-width) {
    padding: 0 35px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0;
  }
}

.card-product__button {
  margin-top: 19px;
  grid-column: span 2;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-min-width) {
    grid-column: 1;
    margin-top: 32px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }

  &--show-all {
    margin-top: 20px;
    grid-column: 1;
    background: $secondary-bg-color;
    color: $primary-text-color;

    &:hover {
      background: $grey-lighter;
    }

    &:active {
      color: rgba($primary-text-color, 0.3);
    }

    &:focus {
      outline: 2px solid $grey-medium;
    }
  }
}
