@use "../base/variables" as *;

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__container {
  width: 100%;

  @media (min-width: $tablet-min-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0;
    max-width: 1220px;
  }
}

.catalog__title {
  margin: 28px 0 39px;
  padding: 0 20px;

  @media (min-width: $tablet-min-width) {
    margin: 65px 0 84px;
    padding: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 73px;
  }
}

.catalog__list {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
