@use "../base/variables" as *;

.field-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 13px;
}

.field-text__input-wrapper {
  position: relative;

  &--email {
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 14px;
      width: 20px;
      height: 20px;
      display: block;
      background-image: url("../img/icons/email-stroke.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
    }
  }

  &--phone {
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 14px;
      width: 20px;
      height: 20px;
      background-image: url("../img/icons/phone-stroke.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
    }
  }
}

.field-text__input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text-color;
  border: 1px solid $primary-border-input;

  @media (min-width: $tablet-min-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    border-color: $color-line-block;
  }

  &:focus {
    border-color: $secondary-text-color;
    outline: none;
  }

  &:invalid {
    border-color: $status-error;
  }

  &::placeholder {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media (min-width: $tablet-min-width) {
      font-size: 20px;
      line-height: normal;
    }
  }

  &--email,
  &--phone {
    border: 1px solid $color-line-block;
  }

  &--comment {
    resize: none;
  }
}

.field-text__label {
  align-self: center;
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: normal;
  }
}
