@use "../base/variables" as *;

.form {
  display: grid;
  width: 100%;
}

.form__container {
  display: grid;
  align-items: center;

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
    margin-bottom: 70px;
  }
}

.form__title {
  margin: 27px 0 37px;

  @media (min-width: $tablet-min-width) {
    margin: 65px 0 54px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
    margin: 74px 0 55px;
  }
}

.form__description {
  margin: 0 0 39px;
  padding-right: 7px;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 66px;
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
    margin-bottom: 63px;
  }
}

.form__area-input {
  display: grid;
  margin: 0 0 23px;
  padding: 0;
  border: 0;
  gap: 14px;

  @media (min-width: $tablet-min-width) {
    gap: 17px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
    margin-bottom: 0;
  }
}

.form__area-radio {
  margin: 0 -20px 26px;
  padding: 22px 20px 18px;
  display: grid;
  gap: 13px;
  border: 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;

  @media (min-width: $tablet-min-width) {
    gap: 13px;
    margin: 0 0 65px;
    padding: 22px 27px 26px;
    border: 1px solid $grey-light;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 2;
    margin-bottom: 0;
    padding: 25px 28px;
  }
}

.form__title-owner-cat {
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__area-owner-cat {
  position: relative;
  margin: 0 0 24px;
  padding: 0;
  border: 0;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 69px;
  }
}

.form__area-text {
  display: grid;
  gap: 14px;

  @media (min-width: $tablet-min-width) {
    gap: 18px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 81px;
  }
}

.form__title-comment {
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 78px;
    grid-column: span 2;
  }
}

.form__area-comment {
  position: relative;
  margin: 0 0 19px;
  padding: 0;
  border: 0;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 66px;
  }
}

.form__textarea {
  width: 100%;
  padding: 10px 14px 18px;
  resize: none;

  @media (min-width: $tablet-min-width) {
    padding: 11px 20px;
  }
}

.form__title-additional {
  margin-top: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__area-additional {
  position: relative;
  margin: 0 0 35px;
  padding: 0;
  border: 0;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 59px;
  }
}

.form__area-checkbox {
  display: grid;
  gap: 12px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 58px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 78px;
  }
}

.form__bottom-container {
  display: grid;
  gap: 21px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 62px;
  }

  @media (min-width: $desktop-min-width) {
    gap: 80px;
    grid-column: span 2;
  }
}

.form__button {
  width: 100%;
}

.form__required {
  text-align: center;
  align-self: center;
  line-height: 16px;

  @media (min-width: $tablet-min-width) {
    margin: -9px 0 0 -5px;
    text-align: left;
    line-height: 16px;
  }

  @media (min-width: $desktop-min-width) {
    margin: -3px 0 0 -3px;
  }
}

.form__required-text {
  margin-left: 2px;
  line-height: 16px;
  text-align: center;
  color: $secondary-text-color;

  @media (min-width: $tablet-min-width) {
    margin-left: 6px;
  }
}
