@use "../base/variables" as *;

.form {
  display: grid;

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr auto;
  }
}

.form__area-input {
  border: 0;
}

.form__area-radio {
  display: grid;
  gap: 5px;
  border: 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $grey-light;
  }
}

.form__field-input {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 5px 0;
}

.form__field-radio {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.form__field-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.form__area-owner-cat {
  border: 0;

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__title {
  line-height: 26px;

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
    line-height: 36px;
  }
}

.form__area-comment {
  border: 0;

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__area-additional {
  border: 0;

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__area-checkbox {
  display: grid;
  gap: 5px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__bottom {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 2;
  }
}

.form__button {
  width: 100%;
}

.form__required {
  text-align: center;
  align-self: center;

  @media (min-width: $tablet-min-width) {
    text-align: left;
  }
}

.form__required-text {
  font-family: $secondary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
