@use "../base/variables" as *;

.how-works {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >= $tablet-min-width) {
    padding: 0 0 47px;
    border-bottom: 1px solid $extra-border-color;
  }

  @media (width >= $desktop-min-width) {
    border: 0;
  }
}

.how-works__title {
  margin: 0 0 40px;
  line-height: 40px;

  @media (width >= $tablet-min-width) {
    margin: 0 0 72px;
    line-height: 1;
  }
}

.how-works__list {
  display: grid;
  align-items: start;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width >= $tablet-min-width) {
    counter-reset: count-item 0;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 80px 20%;
    padding-right: 79px;
  }

  @media (width >= $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 95px;
    padding-right: 0;
  }
}

.how-works__item {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (width >= $tablet-min-width) {
    position: relative;
    counter-increment: count-item 1;
    grid-template-columns: 1fr;
    padding: 0 0 25px;
    gap: 31px;
  }

  &::after {
    @media (width >= $tablet-min-width) {
      position: absolute;
      z-index: -1;
      right: 0;
      top: -40px;
      content: counter(count-item);
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 1;
      color: $secondary-bg-color;
      text-transform: uppercase;
    }
  }
}

.how-works__description {
  margin: 0;
  line-height: 18px;
  color: $primary-text-color;

  @media (width >= $tablet-min-width) {
    line-height: 24px;
  }
}

.how-works__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $primary-color;

  @media (width >= $tablet-min-width) {
    width: 80px;
    height: 80px;
  }

  &::before {
    content: "";
    background-color: $secondary-color;
  }

  &--leaf::before {
    width: 25px;
    height: 28px;
    mask-image: url("../img/sprite.svg#leaf");
  }

  &--powder::before {
    width: 27px;
    height: 29px;
    mask-image: url("../img/sprite.svg#powder");
  }

  &--eat::before {
    width: 26px;
    height: 30px;
    mask-image: url("../img/sprite.svg#eat");
  }

  &--clock::before {
    width: 27px;
    height: 31px;
    mask-image: url("../img/sprite.svg#clock");
  }
}
