@use "../base/variables" as *;

.living-example {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 40px;
  background: $special-bg-color;

  @media (min-width: $tablet-min-width) {
    padding: 45px 0 101px;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba($special-bg-color, 0.85) 462px, transparent 462px);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0 0 69px;
    background-image: linear-gradient(to bottom, transparent 136px, rgba($special-bg-color, 0.85) 136px);
  }
}

.living-example__container {
  display: grid;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-min-width) {
    gap: 0 227px;
  }
}

.living-example__title {
  margin: 0 0 40px;
  line-height: 40px;

  @media (min-width: $tablet-min-width) {
    grid-column: span 2;
    margin-bottom: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 146px;
  }
}

.living-example__description {
  margin: 0 0 20px;
  line-height: 18px;
  color: $primary-text-color;

  @media (min-width: $tablet-min-width) {
    grid-column: span 2;
    margin-bottom: 55px;
    line-height: 24px;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 69px;
  }
}

.living-example__content {
  margin: 0 0 34px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  justify-content: center;
  align-items: center;
  gap: 32px;

  @media (min-width: $tablet-min-width) {
    justify-self: start;
    grid-template-columns: repeat(2, 162px);
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 64px;
    grid-column: 1;
    grid-row: 3;
  }
}

.living-example__item {
  position: relative;
  text-align: center;
}

.living-example__key {
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 0 17px;
  border: 1px solid $main-border-color;
  border-radius: 3px;
  color: $secondary-text-color;

  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.living-example__value {
  position: absolute;
  transform: translate(-50%, -40%);
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $primary-text-color;
  background: $special-bg-color;

  @media (min-width: $tablet-min-width) {
    font-size: 14px;
    white-space: nowrap;
    background: $secondary-color;
  }

  @media (min-width: $desktop-min-width) {
    background: $special-bg-color;
  }
}

.living-example__price {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    text-align: right;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
    grid-row: 4;
    text-align: left;
  }
}

.living-example__price-text {
  display: inline-block;
  margin: 0;
  font-family: $secondary-font-family;
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    display: block;
    font-size: 20px;
    align-self: end;
    text-align: right;
  }

  @media (min-width: $desktop-min-width) {
    display: inline-block;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-min-width) {
      margin-bottom: 9px;
    }

    @media (min-width: $desktop-min-width) {
      margin: 0 63px 0 0;
    }
  }
}

.living-example__slider {
  margin: 20px 0 0;
  justify-self: center;

  @media (min-width: $tablet-min-width) {
    margin-top: 106px;
    grid-column: span 2;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: -13px;
    grid-column: 2;
    grid-row: span 4;
  }
}

.living-example__image {
  @media (min-width: $tablet-min-width) {
    width: 560px;
    height: 512px;
  }
}
