@use "../base/variables" as *;

.living-example {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $special-bg-color;
  padding: 20px;
}

.living-example__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.living-example__title {
  margin: 10px 0 20px;
  font-family: $primary-font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.living-example__description {
  font-family: $secondary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $secondary-text-color;
}

.living-example__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.living-example__item {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid $color-line-block;
  border-radius: 5px;
}

.living-example__key {
  font-family: $primary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.living-example__value {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: $secondary-text-color;
}

.living-example__price {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.living-example__price-text {
  margin: 0 auto;
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.living-example__compare-slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
