@use "../base/variables" as *;

.present {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px;
  padding: 58px 61px 43px 58px;
  color: $secondary-color;
  background-color: $primary-color;
  background-image: $primary-linear-gradient,
    image-set(
      url("../img/content/present-mobile.webp") type("image/webp") 1dppx,
      url("../img/content/present-mobile-2x.webp") type("image/webp") 2dppx,
      url("../img/content/present-mobile.jpg") type("image/jpg") 1dppx,
      url("../img/content/present-mobile-2x.jpg") type("image/jpg") 2dppx
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, auto);
    gap: 264px;
    padding: 57px 125px 60px 77px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/present-tablet.webp") type("image/webp") 1dppx,
        url("../img/content/present-tablet-2x.webp") type("image/webp") 2dppx,
        url("../img/content/present-tablet.jpg") type("image/jpg") 1dppx,
        url("../img/content/present-tablet-2x.jpg") type("image/jpg") 2dppx
    );
  }

  @media (min-width: $desktop-min-width) {
    align-self: stretch;
    grid-template-columns: 1fr;
    gap: 46px;
    padding: 56px 42px 43px;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/present-desktop.webp") type("image/webp") 1dppx,
        url("../img/content/present-desktop-2x.webp") type("image/webp") 2dppx,
        url("../img/content/present-desktop.jpg") type("image/jpg") 1dppx,
        url("../img/content/present-desktop-2x.jpg") type("image/jpg") 2dppx
    );
  }

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    mask-image: url("../img/sprite.svg#present");
    background-color: currentColor;

    @media (min-width: $tablet-min-width) {
      width: 80px;
      height: 83px;
    }
  }
}

.present__text {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-min-width) {
    text-align: left;
  }

  @media (min-width: $desktop-min-width) {
    text-align: center;
  }
}
