@use "../base/variables" as *;

.prize-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/content/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prize-container__text {
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $secondary-color;
}
