@use "../base/variables" as *;

.prize-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px;
  padding: 58px 61px 43px 58px;
  background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-mobile-2x.jpg");
  }

  @media (width >= $tablet-min-width) {
    grid-template-columns: repeat(2, auto);
    gap: 264px;
    padding: 57px 125px 60px 77px;
    background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-tablet-2x.jpg");
    }
  }

  @media (width >= $desktop-min-width) {
    grid-template-columns: 1fr;
    gap: 46px;
    padding: 56px 42px 43px;
    background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba($primary-color, 0.85), rgba($primary-color, 0.85)), url("../img/content/gift-desktop-2x.jpg");
    }
  }
}

.prize-container__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $secondary-color;
}
