@use "../base/variables" as *;

.programs-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding: 20px;
  background: $secondary-bg-color;

  @media (width >= $tablet-min-width) {
    gap: 0 19px;
    padding: 77px 28px 57px 52px;
  }

  @media (width >= $desktop-min-width) {
    gap: 0 47px;
    padding: 41px 61px 55px 52px;
  }
}

.programs-item__icon-wrapper {
  margin-left: -8px;
  grid-column: 1;
  grid-row: 1;
  width: 67px;
  height: 53px;

  @media (width >= $tablet-min-width) {
    align-self: start;
    grid-column: 2;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 211px;
  }

  @media (width >= $desktop-min-width) {
    margin: 0 0 39px -18px;
    grid-column: 1;
    grid-row: 1;
    width: 134px;
    height: 106px;
  }
}

.programs-item__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  --background-color: #{$primary-color};
  --front-color: #{$secondary-text-color};
}

.programs-item__title {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (width >= $tablet-min-width) {
    margin: 0 0 24px;
    grid-column: 1;
    font-size: 36px;
    line-height: 36px;
  }

  @media (width >= $desktop-min-width) {
    grid-column: 2;
    margin-bottom: 39px;
  }
}

.programs-item__description {
  align-self: start;
  grid-column: span 2;
  margin: 0 0 19px;
  padding: 22px 0 23px;
  line-height: 18px;
  color: $primary-text-color;
  border-bottom: 1px solid $grey-light;

  @media (width >= $tablet-min-width) {
    margin-bottom: 52px;
    padding: 0;
    line-height: 24px;
    color: $secondary-text-color;
    grid-column: 1;
    border-bottom: none;
  }

  @media (width >= $desktop-min-width) {
    margin-bottom: 27px;
    grid-column: span 2;
  }
}

.programs-item__link {
  justify-self: start;
  grid-column: span 2;
  display: flex;
  gap: 20px;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.programs-item__link-text {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (width >= $tablet-min-width) {
    font-size: 20px;
  }
}

.programs-item__link-arrow {
  display: flex;
  align-items: center;
  width: 32px;
  overflow: hidden;
}

.programs-item__link-icon {
  position: relative;
  right: 8px;
  transition: transform 0.2s ease-in-out;
}


.programs-item__link:hover .programs-item__link-icon {
  transform: translateX(7px);
}
