@use "../base/variables" as *;

.programs-item {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding: 20px;
  background: $secondary-bg-color;

  @media (width >= $tablet-min-width) {
    gap: 0 19px;
    padding: 77px 29px 57px 52px;
  }

  @media (width >= $desktop-min-width) {
    gap: 0 47px;
    padding: 41px 61px 55px 52px;
  }

  &--slim,
  &--pro {
    &::before {
      grid-column: 1;
      grid-row: 1;

      @media (width >= $tablet-min-width) {
        grid-column: 2;
        grid-row: span 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 268px;
      }

      @media (width >= $desktop-min-width) {
        margin-bottom: 39px;
        grid-column: 1;
        grid-row: 1;
        width: auto;
      }
    }
  }


  &--slim {
    &::before {
      content: "";
      width: 50px;
      height: 53px;
      background-image: url("../img/icons/cat-back-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @media (width >= $tablet-min-width) {
        width: 200px;
        height: 211px;
      }

      @media (width >= $desktop-min-width) {
        width: 100px;
        height: 106px;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      width: 67px;
      height: 50px;
      background-image: url("../img/icons/cat-back-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @media (width >= $tablet-min-width) {
        width: 268px;
        height: 200px;
      }

      @media (width >= $desktop-min-width) {
        width: 134px;
        height: 100px;
      }
    }
  }
}

.programs-item__title {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (width >= $tablet-min-width) {
    margin: 0 0 24px;
    grid-column: 1;
    font-size: 36px;
    line-height: 36px;
  }

  @media (width >= $desktop-min-width) {
    grid-column: 2;
    margin-bottom: 39px;
  }
}

.programs-item__icon-wrapper {

}

.programs-item__icon {
  &--slim {
  }

  &--pro {
  }
}

.programs-item__description {
  grid-column: span 2;
  margin: 0;
  padding-bottom: 23px;
  line-height: 18px;
  color: $primary-text-color;
  border-bottom: 1px solid $grey-light;


  @media (width >= $tablet-min-width) {
    margin: 0 0 52px;
    line-height: 24px;
    color: $secondary-text-color;
    grid-column: 1;
    border-bottom: none;
  }

  @media (width >= $desktop-min-width) {
    margin: 0 0 27px;
    grid-column: span 2;
  }
}

.programs-item__link {
  grid-column: span 2;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (width >= $tablet-min-width) {
    font-size: 20px;
  }

  &::after {
    content: "";
    display: block;
    align-items: center;
    width: 32px;
    height: 12px;
    overflow: hidden;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: 32px 12px;
    background-position: right 8px center;
    transition: 0.2s linear;
  }

  &:hover {
    &::after {
      background-position: right 0 center;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
