@use "../base/variables" as *;

.top-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0 0;

  @media (min-width: $tablet-min-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-min-width) {
    position: static;
    padding-bottom: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 302px;
    background-color: $primary-color;
    background-image: $primary-linear-gradient,
      image-set(
        url("../img/content/top-cat-mobile.webp") type("image/webp") 1dppx,
        url("../img/content/top-cat-mobile-2x.webp") type("image/webp") 2dppx,
        url("../img/content/top-cat-mobile.jpg") type("image/jpg") 1dppx,
        url("../img/content/top-cat-mobile-2x.jpg") type("image/jpg") 2dppx
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $tablet-min-width) {
      display: none;
    }

    @media (min-width: $desktop-min-width) {
      left: 50%;
      display: block;
      width: 50%;
      height: 694px;
      background-image: $primary-linear-gradient,
        image-set(
          url("../img/content/top-cat-desktop.webp") type("image/webp") 1dppx,
          url("../img/content/top-cat-desktop-2x.webp") type("image/webp") 2dppx,
          url("../img/content/top-cat-desktop.jpg") type("image/jpg") 1dppx,
          url("../img/content/top-cat-desktop-2x.jpg") type("image/jpg") 2dppx
      );
      background-position: left;
    }
  }
}

.top-section__container {
  display: grid;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    position: relative;
    justify-content: start;
    padding: 0 120px 526px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 80px;
  }
}

.top-section__title {
  margin: 0 0 25px;
  text-align: center;
  color: $secondary-color;

  @media (min-width: $tablet-min-width) {
    margin: 65px 0 40px;
    text-align: left;
    color: $secondary-text-color;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 110px;
    grid-column: 1;
    grid-row: 1;
  }
}

.top-section__subtitle {
  margin: 0 0 29px;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    color: $secondary-text-color;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 52px;
    grid-column: 1;
    grid-row: 2;
  }
}

.top-section__picture {
  justify-self: center;
  margin: 0 0 3px;

  @media (min-width: $tablet-min-width) {
    margin: 0;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  @media (min-width: $desktop-min-width) {
    position: relative;
    top: 27px;
    left: -140px;
    grid-column: 2;
    grid-row: 1 / 5;
  }
}

.top-section__image {
  display: block;

  @media (min-width: $tablet-min-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-min-width) {
    width: 552px;
    height: 499px;
  }
}

.top-section__link {
  justify-self: stretch;

  @media (min-width: $tablet-min-width) {
    justify-self: start;
  }

  @media (min-width: $desktop-min-width) {
    justify-self: start;
    grid-column: 1;
    grid-row: 3;
  }
}
