@use "../base/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #{$primary-color};
  --special-color: #{$special-color};
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
