@use "variables" as *;

.title-container {
  display: grid;
  grid-template-columns: 0 auto 1fr;
  gap: 20px;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 30px auto 1fr;
    gap: 40px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: auto auto 1fr;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 17px;
    border-bottom: 2px solid $primary-color;

    @media (min-width: $tablet-min-width) {
      height: 23px;
    }
  }

  &::before {
    width: 0;

    @media (min-width: $tablet-min-width) {
      width: 30px;
    }

    @media (min-width: $desktop-min-width) {
      width: calc(50vw - 619px - 40px);
    }
  }
}

.title-container__inner {
  width: 187px;

  @media (min-width: $tablet-min-width) {
    width: auto;
  }
}
