@use "variables" as *;

.title {
  font-family: $primary-font-family;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-min-width) {
    font-size: 60px;
  }
}

.title-line {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background-color: $primary-bg-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 100vw;
    height: 3px;
    margin-top: calc(1em / 2 + 3px);
    background-color: $primary-color;
    z-index: -1;

    @media (min-width: $tablet-min-width) {
      display: block;
      right: 100%;
    }

    @media (min-width: $desktop-min-width) {
      margin-right: 37px;
    }
  }

  &::after {
    left: 0;
  }
}

.text {
  font-family: $secondary-font-family;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
  }
}
