$primary-text-color: #444444;
$secondary-text-color: #000000;

$primary-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Arial", sans-serif;

$primary-color: #68b738;
$secondary-color: #ffffff;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$special-bg-color: #eaeaea;

$primary-border-input: #e7e7e7;
$status-error: #ff8282;

$main-border-color: #cdcdcd;
$extra-border-color: #e6e6e6;
$slide-bar-color: #666666;

$button-hover-color: #5eaa2f;
$button-focus-color: #38681a;

$grey-lighter: #ebebeb;
$grey-light: #d9d9d9;
$grey-middle: #d3d3d3;
$grey-medium: #bababa;
$grey-dark: #222222;
$grey-darker: #111111;

$tablet-min-width: 768px;
$desktop-min-width: 1440px;

$primary-linear-gradient: linear-gradient(to bottom, rgba($primary-color, 0.85), rgba($primary-color, 0.85));
