@use "../base/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: $secondary-bg-color;

  @media (min-width: $tablet-min-width) {
    padding: 57px 0 56px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 67px 0 66px;
  }
}

.footer__container {
  display: grid;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    justify-content: flex-start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  width: 128px;
  height: 24px;
  mask-image: url("../img/sprite.svg#footer-logo");
  background-color: $grey-darker;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $logo-hover;
  }

  &:active {
    background-color: $logo-active;
  }
}
