@use "../base/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: $secondary-bg-color;

  @media (min-width: $tablet-min-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-min-width) {
    padding: 66px 0;
  }
}

.footer__container {
  display: grid;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-min-width) {
    margin: 0;
    padding: 0;
    justify-self: start;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}
