@use "../base/variables" as *;

.html-academy {
  padding: 20px 0 0;

  @media (min-width: $tablet-min-width) {
    padding: 0;
  }
}

.html-academy__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    gap: 23px;
  }

  &:active > .html-academy__text {
    opacity: 0.3;
  }
}

.html-academy__text {
  line-height: 20px;
  color: $secondary-text-color;
}
