@use "../base/variables" as *;

.html-academy {
  padding: 20px 0 0;

  @media (width >= $tablet-min-width) {
    padding: 0;
  }
}

.html-academy__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width >= $tablet-min-width) {
    gap: 23px;
    justify-content: end;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-image: url("../img/icons/html-academy.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &:hover {
    &::after {
      background-image: url("../img/icons/html-academy-hover.svg");
    }
  }
}

.html-academy__text {
  line-height: 20px;
  color: $primary-text-color;
}
