@use "../base/variables" as *;

.social {
  padding: 20px 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;

  @media (width >= $tablet-min-width) {
    padding: 0;
    border: 0;
  }
}

.social__list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    width: 28px;
    height: 22px;
    background-color: $grey-dim;
  }

  &--vk::before {
    mask-image: url("../img/sprite.svg#vk");
  }

  &--youtube::before {
    mask-image: url("../img/sprite.svg#youtube");
  }

  &--telegram::before {
    mask-image: url("../img/sprite.svg#telegram");
  }

  &:hover::before {
    background-color: $primary-color;
  }
}
