$black: #000000;
$white: #ffffff;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$grey-line: #d9d9d9;
$grey-border-input: #e7e7e7;
$grey-background: #eaeaea;
$grey-background-2: #f2f2f2;
$nav-border: #e6e6e6;
