@use "../base/variables" as *;

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-min-width) {
    padding: 40px 110px 0;
  }

  &--button {
    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }
}

.header__item {
  justify-self: center;
  padding: 10px;

  &--button {
    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }

  &--logo-text {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-min-width) {
      justify-self: start;
    }

    @media (min-width: $desktop-min-width) {
      width: 118px;
      height: 21px;
    }
  }
}

.header__logo {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  @media (min-width: $tablet-min-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-min-width) {
    width: 70px;
    height: 59px;
  }
}

.header__logo-text {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__button {
  border: none;
  outline: none;
  background: transparent;
}

.header__nav {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    grid-column: span 1;
  }
}
