@use "../base/variables" as *;

.header {
  border-bottom: 1px solid $grey-light;

  @media (width >= $tablet-min-width) {
    border-bottom: none;
    padding: 25px 0 0;
  }

  @media (width >= $desktop-min-width) {
    padding: 56px 0 0;
  }

  &--index {
    border-bottom: none;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (width >= $tablet-min-width) {
    grid-template-columns: auto 1fr;
  }
}

.header__logo-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 13px 0 15px;

  @media (width >= $tablet-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0;
  }
}

.header__logo {
  display: block;
  width: 33px;
  height: 38px;
  background-image: url("../img/icons/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= $tablet-min-width) {
    width: 60px;
    height: 50px;
    background-image: url("../img/icons/logo-tablet.svg");
  }

  @media (width >= $desktop-min-width) {
    width: 70px;
    height: 59px;
    background-image: url("../img/icons/logo-desktop.svg");
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-item {
  &--second {
    justify-self: center;
  }
}

.header__logo-text {
  display: block;
  width: 101px;
  height: 18px;
  background-image: url("../img/icons/text-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= $tablet-min-width) {
    width: 119px;
    height: 21px;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__nav {
  grid-column: span 3;
  margin: 0 -20px;

  @media (width >= $tablet-min-width) {
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
}
