@use "../base/variables" as *;

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 13px 0 0;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: auto 1fr;
    margin: 0 0 65px;
    padding: 25px 33px 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 74px;
    padding: 56px 110px 0;
  }
}

.header__logo-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 20px 10px;

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0;
  }
}

.header__logo-main {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-main-image {
  @media (min-width: $tablet-min-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-min-width) {
    width: 70px;
    height: 59px;
  }
}

.header__logo-item {
  &--secondary {
    justify-self: center;
  }
}

.header__logo-text {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__logo-text-image {
  @media (min-width: $tablet-min-width) {
    width: 119px;
    height: 21px;
  }
}

.header__button-wrapper {
  justify-self: end;

  @media (min-width: $tablet-min-width) {
    display: none;
  }
}

.header__button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.header__nav {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
  }
}
